<mat-toolbar color="primary">
    <span class= "title">Melagoomba Home Page</span>
    <button data-cy=home_button_account href="/home" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/home']">Home</button>
    <button data-cy=account_button_account href="/account" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/account']">Profile</button>
    <button data-cy=upload_button_account href="/upload" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/upload']">Image</button>
    <span class="spacer"></span>
    <button data-cy=register_button_account *ngIf="!authService.loggedIn()" href="/register" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/register']">Register</button>
    <button data-cy=login_button_account *ngIf="!authService.loggedIn()" href="/login" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/login']">Login</button>
    <button data-cy=logout_button_account *ngIf="authService.loggedIn()" mat-flat-button style="background-color: #b3ff00; width: 65px;" (click)="authService.logoutUser()">Logout</button>
  </mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div" fxFlexAlign = "stretch">
    <mat-card fxFlex="">
        <mat-card-content>
            <mat-toolbar>Melagoomba Account Page</mat-toolbar>
            <form data-cy="profile_form" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <h4>NAME</h4>
                <p>{{this.accountUserData.data?.name}}</p>
                <h4>GENDER</h4>
                <p>{{this.accountUserData.data?.gender}}</p>
                <h4>AGE</h4>
                <p>{{this.accountUserData.data?.age}}</p>
                <h4>ETHNICITY</h4>
                <p>{{this.accountUserData.data?.ethnicity}}</p>
              </form>
              
            <mat-toolbar>Melagoomba Account Page</mat-toolbar>
        </mat-card-content>
    </mat-card>
    <div class = "button-row">
        <button data-cy=home_button_profile href="/home" mat-raised-button style="background-color: #B067A1;" [routerLink]="['/profile']">Update info</button>
    </div>
</div>  
