<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-card-content>
        <mat-toolbar>Melagoomba Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
               <!--<mat-label>What's your username girl</mat-label> --> 
                <input matInput placeholder="Username">
            </mat-form-field>
        
            <mat-form-field>
                <!--<mat-label>C'mon what's the password</mat-label> --> 
                <input matInput type = "password" placeholder="Password">
            </mat-form-field>
                <button mat-raised-button type="Submit you fool">Login</button>
        </form>
    </mat-card-content>
    </mat-card>
</div>  