<mat-toolbar color="primary">
    <span class= "title">Melagoomba Login Page</span>
    <button data-cy=home_button_login href="/home" mat-flat-button style="background-color: #6C88C4; width: 65px;" [routerLink]="['/home']">Home</button>
    <button data-cy=account_button_login href="/account" mat-flat-button style="background-color: #6C88C4; width: 65px;" [routerLink]="['/account']">Profile</button>
    <button data-cy=upload_button_login href="/upload" mat-flat-button style="background-color: #6C88C4; width: 65px;" [routerLink]="['/upload']">Image</button>
    <span class="spacer"></span>
    <button data-cy=register_button_login href="/register" mat-flat-button style="background-color: #6C88C4; width: 65px;" [routerLink]="['/register']">Register</button>
    <button data-cy=login_button_login href="/login" mat-flat-button style="background-color: #6C88C4; width: 65px;" [routerLink]="['/login']">Login</button>
  </mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div" fxFlexAlign = "stretch">
    <mat-card fxFlex="">
        <mat-card-content>
            <mat-toolbar>Melagoomba Login Page</mat-toolbar>
            <form data-cy="login_form" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                <mat-form-field>
                <!--<mat-label>What's your username girl</mat-label> --> 
                    <input class="login_username" data-cy="login_email_data" [(ngModel)]= "loginUserData.email" name = "email" type="text" matInput placeholder="Username">
                </mat-form-field>
            
                <mat-form-field>
                    <!--<mat-label>C'mon what's the password</mat-label> --> 
                    <input class="login_password" data-cy="login_password_data" [(ngModel)]= "loginUserData.password" name = "password" matInput type = "password" placeholder="Password">
                </mat-form-field>
                    <button class="login_button_e2e" data-cy="login_button" (click)="loginUser()" mat-raised-button type="Submit you fool">Login</button>
            </form>
            <mat-toolbar>Melagoomba Login Page</mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>  