.main-div {
    margin: auto;
    margin-top: 15%;
}
.main-div button {
    background: #6C88C4;
}
.login-form {
    border: 1px solid;
    background: #FFF;
    padding: 20px;
}

.mat-toolbar {
    border: 1px solid;
    background: #6C88C4;
 }
