<mat-toolbar color="primary">
    <span class= "title">Melagoomba Image Upload Page</span>
    <button data-cy=home_button_profile href="/home" mat-flat-button style="background-color: #FC6238; width: 65px;" [routerLink]="['/home']">Home</button>
    <button data-cy=home_button_profile href="/account" mat-flat-button style="background-color: #FC6238; width: 65px;" [routerLink]="['/account']">Profile</button>
    <button data-cy=home_button_profile href="/upload" mat-flat-button style="background-color: #FC6238; width: 65px;" [routerLink]="['/upload']">Image</button>
    <span class="spacer"></span>
    <button data-cy=home_button_profile *ngIf="!authService.loggedIn()" href="/upload" mat-flat-button style="background-color: #FC6238; width: 65px;" [routerLink]="['/register']">Register</button>
    <button data-cy=home_button_profile *ngIf="!authService.loggedIn()" href="/upload" mat-flat-button style="background-color: #FC6238; width: 65px;" [routerLink]="['/login']">Login</button>
    <button data-cy=home_button_profile *ngIf="authService.loggedIn()" mat-flat-button style="background-color: #FC6238; width: 65px;" (click)="authService.logoutUser()">Logout</button>
  </mat-toolbar>

<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div" fxFlexAlign = "stretch">
    <mat-card fxFlex="">
        <mat-card-content>
            <mat-toolbar>Melagoomba Image Upload Page</mat-toolbar>
            <form fxLayoutAlign="stretch" fxLayout="column" class="upload-form">
                <input type ="file" (change) = "onFileSelected($event)">
                <button data-cy="upload_button" (click) = "onUpload()" mat-raised-button>Upload</button>  
            </form>
            <img src= {{this.uploadUserData.data?.data}} alt="Uploaded Image Here" width="500" height="300" *ngIf="authService.loggedIn()">
            <p *ngIf="authService.loggedIn()"> This is {{uploadUserData.message}} </p>
            <mat-toolbar>Melagoomba Image Upload Page</mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>  
