<mat-toolbar color="primary">
    <span class= "title">Melagoomba Home Page</span>
    <button data-cy=home_button_profile href="/home" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/home']">Home</button>
    <button data-cy=home_button_profile href="/account" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/account']">Profile</button>
    <button data-cy=home_button_profile href="/upload" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/upload']">Image</button>
    <span class="spacer"></span>
    <button data-cy=home_button_profile *ngIf="!authService.loggedIn()" href="/upload" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/register']">Register</button>
    <button data-cy=home_button_profile *ngIf="!authService.loggedIn()" href="/upload" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/login']">Login</button>
    <button data-cy=home_button_profile *ngIf="authService.loggedIn()" mat-flat-button style="background-color: #f7caca; width: 65px;" (click)="authService.logoutUser()">Logout</button>
  </mat-toolbar>
  

<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div" fxFlexAlign = "stretch">
    <mat-card fxFlex="">
        <mat-card-content>
            <mat-toolbar>Melagoomba Home Page</mat-toolbar>
            <span style="display: inline-block; width: 150px; vertical-align: top;">
                <button data-cy=home_button_profile href="/profile" mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/profile']">Edit Profile</button>
                <button data-cy=home_button_profile href="/recents" mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/recents']">Recents</button>
                <button mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/upload']">Upload an Image</button>
            </span>
            <mat-toolbar>Melagoomba Home Page</mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>  
