<mat-toolbar color="primary">
    <span class= "title">Melagoomba Home Page</span>
    <button data-cy=home_button_home href="/home" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/home']">Home</button>
    <button data-cy=account_button_home href="/account" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/account']">Profile</button>
    <button data-cy=upload_button_home href="/upload" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/upload']">Image</button>
    <span class="spacer"></span>
    <button data-cy=register_button_home *ngIf="!authService.loggedIn()" href="/register" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/register']">Register</button>
    <button data-cy=login_button_home *ngIf="!authService.loggedIn()" href="/login" mat-flat-button style="background-color: #f7caca; width: 65px;" [routerLink]="['/login']">Login</button>
    <button data-cy=logout_button_home *ngIf="authService.loggedIn()" mat-flat-button style="background-color: #f7caca; width: 65px;" (click)="authService.logoutUser()">Logout</button>
  </mat-toolbar>
  

<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill class="main-div" fxFlexAlign = "stretch">
    <mat-card fxFlex="">
        <mat-card-content>
            <mat-toolbar>Melagoomba Home Page</mat-toolbar>
            <span style="display: inline-block; width: 150px; vertical-align: top;">
                <button class="profile" data-cy=home_profile_button_home href="/profile" mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/profile']">Edit Profile</button>
                <button class="display" data-cy=home_recents_button_home href="/display" mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/display']">Display Recents</button>
                <button class="upload" data-cy=home_upload_button_home mat-raised-button style="background-color: #ffffff; width: 200px;" [routerLink]="['/upload']">Upload an Image</button>
            </span>
            <mat-toolbar>Melagoomba Home Page</mat-toolbar>
        </mat-card-content>
    </mat-card>
</div>  
