
  <router-outlet> 
    <mat-toolbar color="primary">
        <span class= "title">Melagoomba NavBar
            <button data-cy=home_button_profile href="/home" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/home']">Home</button>
            <button data-cy=home_button_profile href="/account" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/account']">Profile</button>
            <button data-cy=home_button_profile href="/upload" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/upload']">Image</button>
            <span class="spacer"></span>
            <button data-cy=home_button_profile href="/upload" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/register']">Register</button>
            <button data-cy=home_button_profile href="/upload" mat-flat-button style="background-color: #b3ff00; width: 65px;" [routerLink]="['/login']">Login</button>
        </span>
    </mat-toolbar>
</router-outlet>